* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
}

.container {
    padding: 16px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}







/*Login page CSS*/


.modal {
    z-index: 1;
    background-color: #30303080;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .modal-content {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 95%;
    }
}






















/*Animations*/
.animate_zoom {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}